
h2{
    border-radius:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 800px;
    margin-right:800px;
    font-size: 30px;
    padding: 10px 10px;
    font-style: italic;
    text-align: center;
    font-family: Arial,  sans-serif;
    padding: 8px px;
    background-color: #0f954b;
    color: white;
    text-decoration:dashed

    
    
}
p{
    font-family: Arial,sans-serif;
    text-align: center;
    margin-left: 400px;
    margin-right:400px;
    font-size: 17px
    
}
li{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 800px;
    margin-right:800px;
}

h1{
    text-align: center;
}